h3, .filter-row {
    text-align: left;
}

.walk {
    opacity: 0.4;
}

.paper {
    padding-top: 12px;
    padding-left: 6px;
    padding-right: 6px;
    text-align: left;
}

div.hr100.paper {
    background-color: #00ffb7 !important;
}

.hr130 {
    background-color: #00ff40 !important;
}

.hr135 {
    background-color: #04ff00 !important;
}

.hr140 {
    background-color: #b3ff00 !important;
}

.hr145 {
    background-color: #ffcc00 !important;
}

.hr150 {
    background-color: #ff8400 !important;
}

.hr155 {
    background-color: #ff5900 !important;
}

.hr160 {
    background-color: #ff2a00 !important;
}

.hr165 {
    background-color: #ff0000 !important;
}

.card-time {
    float: right;
}

section span {
    margin-left: 12px;
}

small {
    margin-left: 2px;
}

.query-inline {
    display: inline;
    margin-left: 24px;
}

.activity-label {
    font-size: 18px;
    margin-top: 32px;
    float: left;
}
.search-btn{
    margin-top: 24px!important;
    float: right;
}